<div class="center jumbotron">
  <h1>Welcome to the Team OVCA</h1>

  <h2>
    This is the home page for the
    Team OVCA app

  </h2>

  <% if user_signed_in? %>
  <%= link_to "Transactions", transactions_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Employees", employees_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-primary" %>
  <% else %>
  <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Register", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
